body {
  font-family: sans-serif;
  background-image: url("");
  background-color: #002c59;
  text-align: center;
  padding: 20px;
}
.wedding-title{
  color: #a1d0ff;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
}
footer{
  font-size: 22px;
  color: rgb(255, 255, 255);
}
#player-box {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
video {
  width: 100%;
  border-radius: 8px;
}
#controls {
  margin-top: 10px;
}
#fullscreen-btn {
  padding: 8px 12px;
  margin-right: 10px;
  font-size: 16px;
}
#volume-slider {
  width: 200px;
}
