body {
  font-family: sans-serif;
  background-image: url("");
  background-color: #002c59;
  text-align: center;
  padding: 20px;
}
.wedding-title{
  color: #a1d0ff;
  font-size: 50px;
  font-family: "Oswald", sans-serif;
}
footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0.8rem;
  color: #ffffffa0;
  font-family: monospace;
  line-height: 1.4;
  z-index: 5;
}
#player-box {
  max-width: 900px;
  margin: auto;
  background: #ffffff;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
video {
  width: 100%;
  border-radius: 4px;
}
#controls {
  margin-top: 10px;
}
#fullscreen-btn {
  padding: 8px 12px;
  margin-right: 10px;
  font-size: 16px;
}
#volume-slider {
  width: 200px;
}
a,p,h2 {
  color: #141414ad;
  font-weight: bold;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
